html {
  color: black;
  font-weight: thin;
  background: url('/NYC.png') no-repeat center top fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  cursor: default;
  margin: 0;
  height: 100%;
  overflow: hidden;

}

body {
  font-family: 'Fira Sans' !important;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }
}

.navbar {
  background: linear-gradient(to left, rgba(130, 88, 88, 0.62), rgba(255, 255, 255, 0));
  display: flex;
  height: 10vh;
  min-height: 1.5em;
  justify-content: flex-end;
  margin-right: -1em;
  margin-top: -0.5em;

  &-title {
    margin-right: 11vw;
    margin-top: 1vh;
    font-size: calc(12px + 4.3vmin);
  }
}

.colors {
  div {
  width: 110vw;
  margin-left: -5vw;
  height: 10vh;
  min-height: 1.5em;
  display: flex;
  justify-content: left;
  transition: height 0.5s ease-in-out, background-color 0.5s ease;
  font-size: calc(12px + 4vmin);
  text-shadow: 2px 2px 8px white;
  color: black;
  z-index: 5;
  display: flex;
  flex-direction: column;

    &:hover{
      transition: height 0.5s ease-in-out;
    }
  }

  &-green {
    background: linear-gradient(to right, rgba(212, 255, 176, 0.35), rgba(255, 255, 0, 0));
    &-title {
      margin-left: 15vw !important;
      margin-top: 1.7vh;
    }
  }

  &-purple {
    background: linear-gradient(to right, rgba(136, 0, 255, 0.29), rgba(255, 255, 0, 0));
    &-title {
      margin-left: 15vw !important;
      margin-top: 1.7vh;
    }
  }

  &-blue {
    background: linear-gradient(to right, rgba(0, 60, 255, 0.3), rgba(255, 255, 0, 0));
    &-title {
      margin-left: 15vw !important;
      margin-top: 1.7vh;
    }
  }
}


#selected {
  height: 70vh;
}

#unselected {
  height: 10vh;
}

#background-fader {
  top: 0;
  width: 80vw;
  height: 100vh;
  position: fixed;
  right: 10vw;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.44), transparent);
  z-index: -10;
}

.about {
  height: 60vh !important;
  background-color: rgba(255, 255, 255, 0.6);
  width: 120vw !important;
  -webkit-animation: fadein 2s;

    &-content {
    -webkit-animation: fadein 4s;
    font-size: calc(10px + 1.2vmin) !important;
    height: 60vh !important;
    width: 78vw !important;
    margin-left: 20vw !important;
    margin-top: 2vh;
    max-height: 50vh;
    overflow: scroll;
    margin-bottom: 4vh;
  }
}

#resume {
  margin-left: 20vw !important;
  -webkit-animation: fadein 4s;
  z-index: 20;
  margin-bottom: 1vh;

  a {
    color: black;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}